@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");

  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");

  font-display: swap;
}

body {
  font-family: "PT-Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color:#000000;
  background-color: #FFFFFF;
}


button {
  font-family: "inherit";
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.page-header {
  color: #000000;
  background: #FFFFFF;
}


.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
}


.main-index {
  color: #000000;
  background-color: #FFFFFF;
  background-image: url(../images/home-page/main-image-sedona.jpg);
  background-repeat: no-repeat;
}


.main-image-sedona {
display: block;
margin: auto;
}



.wrapper {
max-width: 1200px;
margin: 0 auto;
box-shadow: rgba(0, 0, 0, 0.2);
}


.advantages-list {
  text-align: center;
}


.advantages-title-hero {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.advantages-description-hero {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  font-weight: 400;
}



.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;

}


.advantages-title-text {
  color: #FFFFFF;
  background-color: #82B3D3;
}


.advantages-description {
  color: #333333;
  font-weight: 400;
}



.appointment-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}


.appointment-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}


.index-columns {
  background-image: url(../images/home-page/Subscribe.jpg);
  max-width: 1200px;
  margin: 0 auto;
  padding: 96px 258px 104px;
  align-items: center;




}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}


.newsletter-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}


.field {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  outline: none;

}


.footer-contacts-phone {
  text-decoration-line: none;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}










.page {
  background-image: url(../images/catalog-page/filter-content.jpg);
  max-width: 1200px;
  color: #FFFFFF;
  background-color: #000000;

}



.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}


.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}



.catalog-filtet {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}



.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}



.button-submit {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  width: 191px;
  height: 36px;
  border: none;
}



.button-reset {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  width: 191px;
  height: 36px;
  border: none;
  background: transparent;
}



.select-control-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}



.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 292px;
  height: 49px;
}



.button-button-slides {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}



.product-card-link {
  text-decoration: none;
}



.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}



.product-card-descriptoin {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}



.product-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}



.pagination {
  background-color: #FFFFFF;
}


.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;;
  text-decoration: none;
  line-height: 16px;
  font-weight: 700;
}



.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}



.pagination-link-next {
  color: #000000;
  background-color: #ffffff;
}



.newsletter-title-subscription {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}



.newsletter-description-subscription {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
