@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  width: 1280px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #F2F2F2;
}

.container-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border-color: #82B3D3;
  padding: 8px 20px;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.navigation-button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #756157;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 8px 34px;
  border: none;
  margin: 14px 0 14px 20px;
  cursor: pointer;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 70px;
}

.navigation-list {
  width: 439px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;

}

.navigation-user-link {
  min-width: 44px;
  min-height: 64px;
}

.navigation-user-search {
  background-image: url("../images/home-page/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user-favorites {
  background-image: url(../images/home-page/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: inline-block;
}

.number-favorites {
  position: absolute;
  top: 11px;
  left: 20px;
  width: 20px;
  height: 20px;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 10px;
  padding-top: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.navigation-link {
  position: relative;
  padding: 20px 16px;
  display: block;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
}

.header-logo {
  width: 140px;
  margin-right: 28px;
  padding: 0;
  display: block;
  margin-bottom: -12px;
  z-index: 1;
}

.navigation-link-current::before {
  position: absolute;
  border-bottom: 2px solid #756257;
  ;
  content: "";
  margin: auto;
  bottom: -1px;
  width: calc(100% - 32px);
}

/* Main */
.main-container {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 1200px;
  margin: auto;
}

.hero {
  background-image: url(../images/home-page/hero-spacebar.svg), url(../images/home-page/main-image-sedona.jpg);
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  color: #FFFFFF;
  background-color: #000000;
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center;
}

.main-image-sedona {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

/* Advantages*/
.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
}

.advantages-image {
  display: block;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.advantages-item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
  padding-top: 103px;
  padding-bottom: 121px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.advantages-item::after {
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  width: 60px;
  content: "";
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin: 30px 0;
}

.background-hero {
  padding-top: 69px;
  padding-bottom: 90px;
}

.title-hero {
  width: 620px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 25px;
}

.description-hero {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 651px;
  margin: auto;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
  width: 175px;
  text-align: center;
  margin: auto;
}

.advantages-description {
  color: #333333;
  font-weight: 400;
  width: 230px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: auto;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.advantages-item-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 92px;
  padding-bottom: 111px;
  padding-left: 85px;
  padding-right: 85px;
}

.advantages-image-subscribe {
  height: 100%;
  background-size: 100% 100%;
}

.advantages-image::after {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  width: 60px;
  content: "";
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin: 30px 0;
}

.background-translucent {
  background: rgba(131, 179, 211, 0.2);
}

.background-white {
  background: #FFFFFF;
}

.advantages-subscribe-blue {
  width: 175px;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto;
}

.advantages-description-blue {
  width: 230px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0 auto;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item {
  width: 400px;
  min-height: 384px;
  padding: 182px 85px 81px 85px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  margin: 0;

}

.services-title {
  width: 230px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.services-description {
  color: #333333;
  font-weight: 400;
  width: 230px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  margin-top: 30px;
}




.services-list:last-of-type .services-item::before {
  position: absolute;
  content: "";
  right: 0;
  left: 2px;
  margin: auto;
  background-repeat: no-repeat;
}

.services-item-house::before {
  background-image: url(../images/home-page/advantages/house-advantages.svg);
  background-repeat: no-repeat;
  top: 80px;
  width: 76px;
  height: 72px;
}


.services-item-food::before {
  background-image: url(../images/home-page/advantages/food.svg);
  background-repeat: no-repeat;
  top: 80px;
  width: 74px;
  height: 70px;
  ;
}

.services-item-souvenirs::before {
  background-image: url(../images/home-page/advantages/gift.svg);
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  width: 64px;
  height: 76px;
  top: 78px;
}



.services-title-souvenirs {
  width: 232px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin: 0;


}

/* Appointment */
.appointment {
  padding-top: 96px;
  padding-bottom: 96px;
}

.appointment-title {
  width: 297px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 20px;
}

.appointment-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  width: 592px;
  margin: auto;
  margin-bottom: 54px;
}

.appointment-button {
  width: 376px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  padding: 8px 50px;
  margin: 0 auto;
  text-align: center;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Newsletter */
.newsletter {
  background-color: #82B3D3;
  background-image: url(../images/home-page/newsletter-subscribe.jpg);
  max-width: 1200px;
  color: #FFFFFF;
  display: block;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 96px;
  padding-bottom: 104px;
}

.newsletter-title {
  width: 404px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.newsletter-description {
  width: 475px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  margin: auto;
  margin-bottom: 55px;
}

.newsletter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.field {
  padding: 12px 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
  background: #F2F2F2;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
}

.newsletter-input {
  width: 452px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 52px;
  padding: 12px 20px;
  border: 0;
  background-color: #F2F2F2;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  border-radius: 4px 0 0 4px;
}

.button-subscribe {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  width: 232px;
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
  display: inline-block;
}

/* Footer */
.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 1060px;
  text-align: center;
  margin: 0 auto;
  padding: 40px 70px 30px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 142px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  display: block;
  width: 47px;
  height: 40px;
  position: relative;
}

.footer-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 47px;
  height: 40px;
  background-repeat: no-repeat;
  outline: none;
}

.footer-contacts-phone {
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: auto;
}

.footer-social-logo {
  width: 115px;
  height: 34px;
  fill: #000000;
  margin-top: 8px;
}

/* Catalog-filtet */
.breadcrumbs {
  background-image: url(../images/catalog-page/filter-content.jpg);
  max-width: 1200px;
  color: #FFFFFF;
  background-color: #82B3D3;
  ;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 70px 70px 70px;
}

.breadcrumbs-catalog {
  margin-bottom: 40px;
}

.breadcrumbs-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none;
  margin: auto;
  padding: 0;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  border: none;
  outline: none;
}

.breadcrumbs-item {
  position: relative;
  font-size: 16px;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  list-style-type: none;
  color: #FFFFFF;
}

.breadcrumbs-item:first-child .breadcrumbs-link {
  background-image: url(../images/catalog-page/house-1.svg);
  background-repeat: no-repeat;
  display: inline-block;
  width: 12px;
  height: 12px;
}

.breadcrumbs-item:not(:first-child)::after {
  background-image: url(../images/catalog-page/arrow-1.svg);
  content: "";
  position: absolute;
  top: 5px;
  bottom: 0;
  left: -17px;
  width: 7px;
  height: 10px;
  background-repeat: no-repeat;
}

.breadcrumbs-item:not(:first-child) {
  margin-left: 28px;
}

.breadcrumbs-hotels:disabled:hover {
  color: rgba(255, 255, 255, 0.6);
  outline: none;

}

.breadcrumbs-hotels:hover {
  color: rgba(255, 255, 255, 0.6);
  outline: none;
  cursor: default;
}

.breadcrumbs-hotels:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-hotels:focus-visible {
  color: #FFFFFF;
}

@supports not selector(:focus-visible) {
  .breadcrumbs-hotels:focus {
    color: #FFFFFF;
  }
}

.catalog-filtet {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  width: 1060px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px 1fr 150px 2fr 288px 1fr 191px;
  grid-template-columns: 150px 1fr 150px 2fr 288px 1fr 191px;
  border: none;
}

.filter-price-title {
  position: relative;
  max-width: 143px;
  height: 48px;
  margin-bottom: 44px;
}

.catalog-price-text {
  position: absolute;
  top: 50%;
  right: 20px;
  display: inline-block;
  height: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  overflow: hidden;
  color: rgba(0 0 0 / 30%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  word-break: break-word;
}

.filter-price-min .filter-input {
  border-radius: 4px 0 0 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.filter-input {
  max-width: 143px;
  font-weight: 700;
  padding-right: 45px;
  border: none;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.filter-input::-webkit-inner-spin-button,
.filter-input::-webkit-outer-spin-button,
.modal-input::-webkit-inner-spin-button,
.modal-input::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

.filter-price-max .filter-input {
  border-radius: 0 4px 4px 0;
  outline: none;
}

.field:hover {
  background-color: #E6E6E6;
  outline: none;
}

.field:focus-visible {
  background-color: #E6E6E6;
  outline: solid 3px #83B3D3;
}

@supports not selector(:focus-visible) {
  .field:focus {
    background-color: #E6E6E6;
    outline: solid 3px #83B3D3;
  }
}

.field:active {
  outline: solid 2px #000000;
}

.range-scale {
  position: relative;
  width: calc(100% - 2px);
  margin: 0 auto;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  grid-column: 1 / -1;
}

.range-bar {
  position: absolute;
  left: 0;
  width: 226px;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  top: -8px;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  right: 0;
}

.range-toggle:hover {
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active,
.range-toggle:focus {
  outline: 3px solid #83B3D3;
}

.range-toggle:disabled {
  outline: none;
  cursor: default;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-button {
  width: 191px;
  padding-top: 56px;
  -ms-grid-column: 7;
  grid-column-start: 7;
}

.catalog-infrastructure {
  -ms-grid-column: 1;
  grid-column-start: 1;
}

.catalog-housing {
  -ms-grid-column: 3;
  grid-column-start: 3;
}

.catalog-filter-price {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 2px;
  -moz-column-gap: 2px;
  column-gap: 2px;
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-columns: 1fr 2px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: -webkit-min-content;
  -ms-grid-rows: min-content;
  grid-template-rows: -webkit-min-content;
  grid-template-rows: min-content;
  border: none;
}

.catalog-filter-price > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.catalog-filter-price > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
  padding: 0;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filter-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  list-style-type: none;
  margin: auto;
  padding: 0;
}

/* Control */
.control-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.catalog-infrastructure .control-input:checked + .control-label::before {
  background-image: url(../images/catalog-page/checkbox-mark.svg);
  background-position: 4px center;
}

.control-label::before {
  position: relative;
  content: "";
  display: block;
  margin-right: 16px;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background: #FFFFFF;
  background-repeat: no-repeat;
}

.control:hover .control-label {
  opacity: 0.6;
}

.control:active .control-label {
  opacity: 0.3;
}

.control-input:disabled + .control-label {
  cursor: default;
  opacity: 0.5;
}

.control-input:focus + .control-label::before {
  outline: 3px solid #83B3D3;
}

.catalog-housing .control-input:checked + .control-label::before {
  background-image: url(../images/catalog-page/catalog/radio-icons.svg);
  background-position: center;
}

.catalog-housing .control-label::before {
  border-radius: 50%;
}

.button-submit {
  font-family: "PT Sans", sans-serif;
  color: #FFFFFF;
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  width: 191px;
  border: none;
  margin-bottom: 32px;
  padding: 8px 50px;
}

.button-reset {
  font-family: "PT Sans", sans-serif;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  width: 191px;
  min-height: 36px;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  display: inline-block;
}

/* hotel selection */
.hotel-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 70px 51px;
}

.hotel-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 1060px;
  color: #000000;
  background-color: #FFFFFF;
  padding: 50px 0 39px 0;
}

.control-title {
  width: 338px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 6px;
  margin-bottom: 6px;
}

.select-control {
  width: 292px;
  height: 49px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 12px 50px 12px 18px;
  margin-left: 200px;
  margin-right: 70px;
  background-image: url(../images/catalog-page/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 18px top 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.hotel-card-list {
  width: 160px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.hotel-card-item {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.card-grid-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.card-grid-toggle-current {
  border-color: #000000;
  outline: none;
}

.card-grid-toggle:hover {
  border: solid 2px #000000;
}

.card-grid-toggle:focus-visible {
  border: 2px solid #68A2CA;
  outline: none;
}

.card-grid-toggle:active {
  border: 2px solid #000000;
}

/* product-card */
.product-list {
  width: 1060px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 340px 20px 340px 20px 340px;
  grid-template-columns: 340px 340px 340px;
  gap: 18px 20px;
  margin-bottom: 40px;
}

.product-hotels {
  padding-bottom: 38px;
  border-bottom: 1px solid #E6E6E6;
}

.product-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 20px;
  padding: 20px 19px;
  border: solid 1px #E6E6E6;
  border-radius: 4px;
}

.product-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  margin: 0;

}

.product-card-image {
  display: block;
}

.product-card-title {
  width: 300px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
}

.product-card-descriptoin {
  width: 140px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.product-card-price {
  width: 140px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: right;
  margin: 0;
}

.product-card-button {
  width: 140px;
  background-color: #756157;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 26px;
}

.product-card-added {
  padding: 8px 18px;
  background-color: #7DB54F;
}

.product-card-rating {
  background-color: #F2F2F2;
  color: #333333;
  font-weight: 400;
  padding: 9px 3px 8px;
}

.raiting-star {
  margin: 0;
  background-image: url(../images/catalog-page/star.svg);
  background-repeat: repeat-x;
  background-position-y: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  height: 37px;
}

.raiting-stars-4 {
  width: 92px;
}

.raiting-stars-3 {
  width: 68px;
}

.raiting-stars-2 {
  width: 44px;
}

/* pagination */
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #FFFFFF;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 8px;
}

.pagination-link {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 60px;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 12px 10px;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
  display: block;
}

.pagination-next {
  color: #000000;
  background-color: #FFFFFF;
  padding-top: 12px;
}

/* Newsletter */
.newsletter-subscription {
  text-align: center;
  padding-top: 97px;
  padding-bottom: 104px;
}

.newsletter-title-subscription {
  width: 404px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 20px;
}

.newsletter-description-subscription {
  width: 475px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: auto;
  margin-left: 363px;
  margin-bottom: 55px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation-button:hover,
.appointment-button:hover,
.product-card-button:hover {
  background-color: #615048;
}

.navigation-button:focus-visible {
  background-color: #615048;
  outline: none;
}

@supports not selector(:focus-visible) {
  .navigation-button:focus {
    background-color: #615048;
    outline: none;
  }
}

.appointment-button:focus-visible {
  background-color: #615048;
  outline: none;
}

@supports not selector(:focus-visible) {
  .appointment-button:focus {
    background-color: #615048;
    outline: none;
  }
}

.product-card-button:focus-visible {
  background-color: #615048;
  outline: none;
}

@supports not selector(:focus-visible) {
  .product-card-button:focus {
    background-color: #615048;
    outline: none;
  }
}

.navigation-button:active,
.appointment-button:active,
.product-card-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-button:disabled,
.appointment-button:disabled,
.product-card-button:disabled {
  background-color: #E5E5E5;
}

.navigation-button:disabled:hover,
.appointment-button:disabled:hover,
.button-subscribe:disabled:hover,
.button-submit:disabled:hover,
.product-card-favourites:disabled:hover,
.product-card-added:disabled:hover,
.product-card-button:disabled:hover {
  background-color: #E5E5E5;
  outline: none;
  cursor: default;
}

.button-subscribe:hover,
.button-submit:hover,
.product-card-favourites:hover {
  background-color: #68A2CA;
}

.product-card-added:hover {
  background-color: #6C9E42;
}

.button-subscribe:active,
.button-submit:active,
.product-card-favourites:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.product-card-added:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.button-subscribe:disabled,
.button-submit:disabled,
.product-card-favourites:disabled,
.product-card-added:disabled {
  background-color: #E5E5E5;
}

.button-subscribe:focus-visible {
  background-color: #68A2CA;
  outline: none;
}

@supports not selector(:focus-visible) {
  .button-subscribe:focus {
    background-color: #68A2CA;
    outline: none;
  }
}

.button-submit:focus-visible {
  background-color: #68A2CA;
  outline: none;
}

@supports not selector(:focus-visible) {
  .button-submit:focus {
    background-color: #68A2CA;
    outline: none;
  }
}

.product-card-favourites:focus-visible {
  background-color: #68A2CA;
  outline: none;
}

@supports not selector(:focus-visible) {
  .product-card-favourites:focus {
    background-color: #68A2CA;
    outline: none;
  }
}

.product-card-added:focus-visible {
  background-color: #6C9E42;
  outline: none;
}

@supports not selector(:focus-visible) {
  .product-card-added:focus {
    background-color: #6C9E42;
    outline: none;
  }
}

.button-reset:disabled:hover {
  color: #FFFFFF;
  opacity: 0.1;
  outline: none;
  cursor: default;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:disabled {
  color: #FFFFFF;
  opacity: 0.1;
}

.button-reset:focus-visible {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

@supports not selector(:focus-visible) {
  .button-reset:focus {
    outline: 3px solid #83B3D3;
    border-radius: 4px;
  }
}

.htmlacademy-link:hover .footer-social-logo {
  fill: #756157;
}

.htmlacademy-link:active .footer-social-logo {
  fill: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link:focus-visible .footer-social-logo {
  fill: #756157;
}

@supports not selector(:focus-visible) {
  .htmlacademy-link:focus .footer-social-logo {
    fill: #756157;
  }
}

.htmlacademy-link:focus-visible {
  outline: none;
}

@supports not selector(:focus-visible) {
  .htmlacademy-link:focus {
    outline: none;
  }
}

.footer-contacts-phone:hover {
  color: #756157;
}

.footer-contacts-phone:focus-visible {
  color: #756157;
  outline: none;
}

@supports not selector(:focus-visible) {
  .footer-contacts-phone:focus {
    color: #756157;
    outline: none;
  }
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-social-icon {
  fill: #83B3D3;
}

.footer-social-link:hover .footer-social-icon {
  fill: #68A2CA;
}

.footer-social-link:active .footer-social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-social-link:focus-visible .footer-social-icon {
  fill: #68A2CA;
}

@supports not selector(:focus-visible) {
  .footer-social-link:focus.footer-social-icon {
    fill: #68A2CA;
  }
}

.footer-social-link:focus-visible {
  outline: none;
}

@supports not selector(:focus-visible) {
  .footer-social-link:focus {
    outline: none;
  }
}

.select-control:hover {
  border: 2px solid #68A2CA;
}

.select-control:focus-visible {
  border: 2px solid #68A2CA;
  outline: none;
}

@supports not selector(:focus-visible) {
  .select-control:focus {
    border: 2px solid #68A2CA;
    outline: none;
  }
}

.select-control:active {
  border: 2px solid #3F5E72;
  border-radius: 4px;
}

.select-control:disabled:hover {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  outline: none;
  cursor: default;
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.pagination-link:hover {
  background-color: #68A2CA;
  outline: solid 1px #82B3D3;
}

.pagination-link:focus-visible {
  background-color: #68A2CA;
  outline: solid 1px #82B3D3;
}

@supports not selector(:focus-visible) {
  .pagination-link:focus {
    background-color: #68A2CA;
    outline: solid 1px #82B3D3;
  }
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current:hover {
  color: #000000;
  background-color: #F2F2F2;
  outline: none;
}

.pagination-current:focus-visible {
  color: #000000;
  background-color: #F2F2F2;
}

@supports not selector(:focus-visible) {
  .pagination-current:focus {
    color: #000000;
    background-color: #F2F2F2;
  }
}

.pagination-current:active {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-next:hover {
  color: #000000;
  background-color: #FFFFFF;

}

.pagination-next:focus-visible {
  color: #000000;
  background-color: #FFFFFF;
}

@supports not selector(:focus-visible) {
  .pagination-next:focus {
    color: #000000;
    background-color: #FFFFFF;
  }
}

.pagination-next:active {
  color: #000000;
  background-color: #FFFFFF;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  max-width: 717px;
  margin: auto;
  padding: 64px 70px;
  background: #FFFFFF;
  border-radius: 30px;
  -webkit-box-shadow: 0 25px 50px rgb(0 0 0 / 15%);
  box-shadow: 0 25px 50px rgb(0 0 0 / 15%);
}



.modal-title {
  font-size: 30px;
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 64px;
  padding-right: 45px;
  text-transform: uppercase;
}

.modal-close-button {
  position: absolute;
  width: 52px;
  height: 52px;
  padding: 0;
  top: 0;
  right: 0;
  margin: 64px 52px 0 0;
  background-color: #F2F2F2;
  border-radius: 50%;
  border: none;
  background-image: url(../images/home-page/modal-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-search {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 137px 110px 1fr 131px 110px;
  grid-template-columns: 137px 110px 1fr 131px 110px;
  row-gap: 48px;
}

.modal-search-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 11px 10px 11px 0;
  text-transform: capitalize;
  -ms-grid-column: 1;
  grid-column-start: 1;
}

.modal-input-search {
  position: relative;
  grid-column: 2 / -1;
}

.modal-input-search::after {
  position: absolute;
  width: 16px;
  height: 15px;
  margin: auto;
  content: "";
  top: 0;
  right: 22px;
  bottom: 0;
  opacity: 0.3;
  background-image: url("../images/home-page/calendar.svg");
  background-repeat: no-repeat;
  pointer-events: none;
}

.modal-adults-quantity {
  -ms-grid-column: 2;
  grid-column-start: 2;
}

.label-icon-children {
  position: relative;
  -ms-grid-column: 4;
  grid-column-start: 4;
}

.modal-chields-quantity {
  -ms-grid-column: 5;
  grid-column-start: 5;
}

.modal-search-button {
  padding: 18px;
  font-size: 20px;
  line-height: 24px;
  border-radius: 10px;
  grid-column: 1 / -1;
}

.modal-input {
  width: 440px;
  padding-right: 45px;
  font-weight: 700;
}

.modal-close-button:hover,
.modal-input-calendar:hover + .modal-input {
  background-color: #E6E6E6;
}

.modal-close-button:focus-visible {
  background-color: #E6E6E6;
  outline: solid 3px #83B3D3;
}

@supports not selector(:focus-visible) {
  .modal-close-button:focus {
    background-color: #E6E6E6;
    outline: solid 3px #83B3D3;
  }
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-less-more-input {
  position: relative;
  width: 110px;
  padding-right: 40px;
  padding-left: 40px;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.modal-less-more-input:disabled {
  z-index: 2;
}

.modal-quantity {
  position: relative;
}

.modal-quantity-button {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0;
  background-color: transparent;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.modal-quantity-button:first-of-type {
  left: 10px;
}

.modal-quantity-button:last-of-type {
  right: 10px;
}

.modal-quantity-button::before,
.modal-quantity-button:last-of-type::after {
  position: absolute;
  content: "";
  width: 14px;
  height: 2px;
  top: 50%;
  left: 50%;
  background-color: #D6D0CD;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal-quantity-button:last-of-type::after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  -ms-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}

.modal-quantity-button:hover ~ .modal-less-more-input {
  background-color: #E6E6E6;
  opacity: 1;
}

.modal-quantity-button:hover::before,
.modal-quantity-button:hover::after {
  background-color: #000000;
  opacity: 1;
}

.modal-quantity-button:active::before,
.modal-quantity-button:active::after {
  opacity: 0.2;
}

.modal-quantity-button:focus {
  outline: 3px solid #83B3D3;
  opacity: 1;
}

.modal-quantity-button:focus::before,
.modal-quantity-button:focus::after {
  background-color: #000000;
}

.modal-quantity-button:disabled {
  background-color: transparent;
  cursor: default;
  opacity: 1;
  pointer-events: none;
}

.modal-quantity-button:disabled::before,
.modal-quantity-button:disabled::after {
  background-color: #E6E6E6;
}

.info-status {
  position: absolute;
  font-size: 16px;
  line-height: 21px;
  top: 100%;
  left: 0;
  display: none;
  margin-top: 4px;
  padding: 0 20px;
  color: #333333;
}

.modal-error-date {
  color: #FF5757;
}

.error-date-arrival-on,
.message-date-on {
  display: block;
}

.tooltip {
  position: absolute;
  margin-top: -3px;
}

.tooltip-toggle {
  width: 26px;
  height: 26px;
  padding: 0;
  background-color: #83B3D3;
  background-image: url("../images/home-page/modal-info.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip-toggle:focus {
  outline: auto;
}

.tooltip-text {
  position: absolute;
  font-size: 16px;
  line-height: 20px;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: none;
  width: 256px;
  margin-top: 12px;
  padding: 20px 18px 23px 22px;
  ;
  color: #FFFFFF;
  background-color: #333333;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.tooltip-text::before {
  position: absolute;
  width: 19px;
  height: 9px;
  margin: auto;
  content: "";
  right: 0;
  bottom: 100%;
  left: 0;
  background-image: url("../images/home-page/tooltip-arrow.svg");
  background-repeat: no-repeat;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: inline-block;
}

.button-modal:hover {
  background-color: #68A2CA;
}

.button-modal:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.button-modal:focus-visible {
  background-color: #68A2CA;
  outline: none;
}
